.container {
display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    margin: auto;
    height: 100%;
}

.container_input {
text-align: center;
    height: 40px;
    font-size: 20px;
    font-family: 'MedievalSharp', cursive;
}

.button {
    margin: 15px;
    font-size: 35px;
    width: 150px;
    height: 150px;
    text-decoration: none;
    font-weight: bold;
    -webkit-text-stroke: 1px #ffdd32;
    color: black;
    box-sizing: border-box;
}

.button:hover {
    margin: 15px;
    font-size: 38px;
    text-decoration: none;
    font-weight: bold;
    -webkit-text-stroke: 1px #ffdd32;
    color: black;
    box-sizing: border-box;
}