.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
}
.containerButton{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 100%;
    margin-top: 50px;
}
.containerCards{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-gap: 0.5rem;
}

.button {
    font-size: 35px;
    height: 24px;
    width: 100px;
    text-decoration: none;
    font-weight: bold;
    -webkit-text-stroke: 1px #ffdd32;
    color: black;
    box-sizing: border-box;
}
.button:hover {
    height: 24px;
    width: 100px;
    font-size: 35px;
    transform: scale(1.05);
    text-decoration: none;
    font-weight: bold;
    -webkit-text-stroke: 1px #ffdd32;
    color: black;
    box-sizing: border-box;
}